
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>管理系统登录</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__PUBLIC__/css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script src="http://libs.useso.com/js/jquery/1.9.1/jquery.min.js"></script>
  </head>

  <body>

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Dota2成就系统登录</h2>
        <label for="inputUser" class="sr-only">用户名</label>
        <input type="text" id="inputUser" class="form-control" placeholder="用户名" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="密码" required>
		<label for="inputCaptcha"class="sr-only">验证码</label>
		<input type="text" id="inputCaptcha" class="form-control" placeholder="验证码(点击图片可更换)" required >
		<img src="__URL__/getVerify"  id="captcha"onClick="this.src='__URL__/getVerify?'+Math.random()">
		<div id="alert-box"class="alert alert-danger alert-dismissible not-display alert-box" role="alert">
			<button type="button" id="close"class="close" data-dismiss="alert" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
			<div id="result"></div>
		</div>
        <button class="btn btn-lg btn-primary btn-block" id="Login" type="submit">登录</button>
      </form>

    </div> <!-- /container -->

<script>
$(function(){
	page.PageLoad();
})
var page = {
	init:function()
	{
		
	},
	initPageData:function()
	{
		
	},
	initEvent:function()
	{
		page.bindLogBtn();
		page.bindCloseBtn();
	},
	bindCloseBtn:function()
	{
		$("#close").click(function()
		{
			$("#result").html('');
			$("#alert-box").addClass("not-display");
		})
	},
	bindLogBtn:function()
	{
		$("#Login").click(function()
		{
			var username = $("#inputUser").val();
			var pass = $("#inputPassword").val();
			var Captcha = $("#inputCaptcha").val();
			$.ajax({
				url:"__URL__/PostLogin",
				type:"post",
				data:{user:username,pwd:pass,Captcha:Captcha},
				success:function(data){
					if(data.status=="true"){
						$("#captcha").attr('src','__URL__/getVerify?'+Math.random());
						return false;
					}
					else{
						$("#result").html(data.ErrorMsg);
						$("#alert-box").removeClass("not-display");
						$("#captcha").attr('src','__URL__/getVerify?'+Math.random());
						return false;
					}		
				},
				error:function(){
					alert("AJAX请求失败");
				}
			})
			return false;
		})
	},
	PageLoad:function()
	{
		page.initPageData();
		page.initEvent();
	}
}
</script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
